
{% for item in items %}
    {% if item.sub_menu is defined %}
        <li>
            <a href="{{ (item['route'] is defined) ? path(item['route']) : '#' }}" >{{ item['name'] }}</a>
            <ul class="menu vertical nested" menu-chapman-key="{{ item['name']   }}">
                {{ include('templates/vertical_menu.html.twig', {items: item['sub_menu']}) }}
            </ul>
        </li>
    {% else %}
        {%  if app.request.get('_route') == item['route'] %}
            <li class="active"><a href="{{ path(item['route']) }}">{{ item['name'] }}</a></li>
        {% else %}
            <li><a href="{{ path(item['route']) }}">{{ item['name'] }}</a></li>
        {% endif %}

    {% endif %}
{% endfor %}
