<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <link rel="stylesheet" href="{{ asset('bundles/style.css') }}">
    <meta name="referrer" content="origin">

    <title>{{ title|default('Welcome!') }}</title>
    {% block head %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>