{% for item in items %}
    {% if item.sub_menu is defined %}
        <li class="
        {% for sub_item in item.sub_menu %}
            {% if(sub_item.route == app.request.get('_route') ) %}
                {{ "active" }}
            {% endif %}
        {% endfor %}
        ">
            <a href="{{ (item['route'] is defined) ? path(item['route']) : '#' }}" ><i class="fa fa-bar-chart-o fa-fw"></i>{{ item['name'] }}<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                {{ include('dashboard/dashboard_menu.html.twig', {items: item['sub_menu']}) }}
            </ul>
        </li>
    {% else %}
        <li><a href="{{ path(item['route']) }}"><i class="fa fa-bar-chart-o fa-fw"></i>{{ item['name'] }}</a></li>
    {% endif %}
{% endfor %}
